################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobotWars/.vs
/RobotWars/RobotWars/bin
/RobotWars/RobotWars/obj
/RobotWars/RobotWarsShared/bin
/RobotWars/RobotWarsShared/obj
/RobotWars/RobotWarsTest/bin
/RobotWars/RobotWarsTest/obj
/SupermarketKata/.vs
/SupermarketKata/SupermarketKataShared/.vs
/SupermarketKata/SupermarketKataShared/bin
/SupermarketKata/SupermarketKataShared/obj
/SupermarketKata/SupermarketKataTests/.vs
/SupermarketKata/SupermarketKataTests/bin
/SupermarketKata/SupermarketKataTests/obj